.events-preview {
  padding: 0px 64px 64px;
  .header {
    h2 {
      span {
        display: block;
        color: var(--teal);
      }
    }
  }
  &__card-container {
    display: flex;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .events-preview {
    padding: 3rem 2rem;

    .header {
      h2 {
        span {
          display: block;
          color: var(--teal);
        }
      }
    }

    &__card-container {
      display: flex;flex-direction: column;
      gap: 2rem;
    }
  }
}
