.groups-grid {
  padding: 100px 64px 64px;

  background: var(--section);

  &__header {
    width: min(1200px, 90%);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 1;
  }

  h2 {
    span {
      display: block;
      color: var(--violet);
    }
  }
  &__image {
    position: absolute;
    inset: 0;
    z-index: -0;
    overflow: hidden;

    img {
      position: absolute;
      right: 0;
      bottom: -2rem;
      width: 780px;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
      opacity: 0.25;
      transform: rotateZ(180deg);
    }
  }

  // --------------------------------
  // GRID
  // --------------------------------

  &__grid {
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}
@media (max-width: 1200px) {
  .groups-grid {
    &__header {
      grid-template-columns: 1fr;
      gap: 30px;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .groups-grid {
    padding: 2rem;

    &__grid {
      grid-template-columns: 1fr;
    }

    &__header {
      margin-bottom: 40px;
    }

    h2 {
      font-size: 3rem;
    }
  }

  .group-card {
    &__image {
      height: 220px;
    }

    &__content {
      padding: 25px;
    }
  }
}
