.cta {
  position: relative;
  padding: 64px 64px;
  cursor: pointer;

  // =============================
  // IMAGE
  // =============================

  &__image {
    position: absolute;
    inset: 0;
    z-index: -2;
    overflow: hidden;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      transition: all 0.5s ease;
    }
  }
  &:hover &__image {
    img {
      transform: scale(1.1);
      filter: brightness(0.5);
    }
  }
  &__image-overlay {
    position: absolute;
    inset: 0;
    z-index: -2;
    background: linear-gradient(
      180deg,
      rgba(14, 26, 43, 0.75) 0%,
      rgba(14, 26, 43, 0.35) 100%
    );
  }
  &__scope-image {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;

    img {
      position: absolute;
      right: 0;
      bottom: -7rem;
      width: 780px;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
      opacity: 0.3;
      transform: rotateZ(180deg);
      transition: all 0.5s ease;
    }
  }
  &:hover &__scope-image {
    img {
      opacity: 0.15;
    }
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--ivory);
    padding: 0 10rem;
  }
  &__btn-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    gap: 2rem;
  }
}
